html
{
	background:none !important;
}

body
{
	margin:0;
	background-color: #C7D6DF;
}

body .wrapper
{
	margin:0;
	border-radius:0;
	box-shadow:none;
	background-color: #C7D6DF;
	padding:10px;
	width:auto;
}

nav
{
	margin:0 10px;
	padding:10px 0;
	position:fixed;
	top:0;
	left:0;
	right:0;
	width:inherit;
	height:62px;
	background-color:#c7d6df;
	z-index:20;
}

.moduletable_menu h3
{
	display:none;
}

.moduletable_menu>ul
{
	border:1px solid #555;
	border-radius:5px 0 5px 5px;
	background-color:#6e93ad;
	font-size:2em;
	width:auto;
	overflow:hidden;
	box-shadow: -2px 2px 2px black;
}

.moduletable_menu ul ul
{
	
}

/* TODO: Remove from nav */
nav .whoarewe
{
	display:none;
}

nav .menu li a
{
	width:auto;
	color:#000;
	line-height:1.5em;
	width:100%;
	background-image:none !important;
}

nav .menu li.active
{
	background-color:#c7d6df;
}

nav .menu li.current>a
{
	text-decoration:underline;
}

.logo
{
	float:left;
}

.menu-wrap
{
	display:none;
	position:absolute;
	top:50px;
	right:0px;
	left:0px;
}

nav.open .menu-wrap
{
	display:block;
	z-index:100;
}

.menu-button
{
	display:inline;
	font-size:4em;
	text-indent:-4000px;
	overflow:hidden;
	color:#000;
	padding:0;
	float:right;
	width:50px;
	height:60px;
	text-align:center;
	background-color:#fff;
	border:1px solid #555;
	position:absolute;
	border-radius:2px;
	right:0px;
	top:10px;
}

.menu-button:before
{
	content: "";
	position: absolute;
	top: 0.3em;
	left:0.1em;
	margin:auto;
	width: 0.8em;
	height: 0.145em;
	border-top: 0.4em double #000;
	border-bottom: 0.13em solid #000;
}

nav.open .menu-button
{
	border-radius:5px 5px 0 0;
	border-bottom:none;
	background-color:#6e93ad;
}

nav .menu-tab-join
{
	display:inline;
	content:"";
	width:56px;
	border-right:1px solid #555;
	height:6px;
	position:absolute;
	right:0px;
	top:14px;
	z-index:1;
	background-color:#6e93ad
}

nav .menu-tab-join:after
{
	width:50%;
	height:5px;
	position:absolute;
	right:48px;
	top:0px;
	content:"";
	z-index:2;
	background-color:#C7D6DF;
	margin-right:2px;
	border-right:1px solid #555;
	border-bottom:1px solid #555;
	border-bottom-right-radius:5px;
}

nav .moduletable_menu
{
	border:none;
	position:relative;
	padding-top:4px;
	clear:both;
}

.random-image img
{
	width:100%;
	height:0; /* Overridden by JS - set to 0 here so we don't show a large image & shrink it */
}

div.slideshow
{
	width:100%;
}

.slideshow h1
{
	font-size:180%;
	top:4px;
}

.slideshow h2
{
	font-size:150%;
	top:28px;
	left:30px;
}

.closable
{
	overflow:hidden;
}

div.main
{
	margin: 50px 0 0 0;
}

.moduletableslideshow,
.home .boxes
{
	display:none;
}

nav .moduletable h3,
.boxes .box h3
{
	background-image: linear-gradient(to right, rgba(155,182,124,0.01), rgba(155,182,124,1) 38%, rgba(155,182,124,1) 62%, rgba(155,182,124,0.01));
}

.event
{
	width:100%;
}

.event .description
{
	width:auto;
	margin-bottom:0;
}

.event .eventheader::after
{
	content: url(/images/buttons/arrow-8-down.png) "Expand";
	width:24px;
	height:24px;
	position:absolute;
	right:4px;
	top:4px;
	bottom:0;
	overflow:hidden;
}

.event.open .eventheader::after
{
	content: url(/images/buttons/arrow-8-up.png) "Collapse";
}

.eventheader .date
{
	font-size:10px;
	margin-top:-2px;
}

.eventheader .headerextra
{
	float:left;
	font-size:10px;
	clear:left;
}

.eventinfo
{
	width:auto;
}

.eventheader .headerextra .distance .unit2
{
	display:none;
}

.eventheader h3
{
	margin-left:60px;
	margin-right:20px;
}

.event .map-container
{
	padding: 0 10px 20px;
}

.event .eventinfo .app-link
{
	display:inline-block;
	float:right;
	position:relative;
	bottom:3px;
	background-image:url(/images/buttons/open-in-new-window.png);
	padding:16px 0 0 16px;
	width:0;
	height:0;
	overflow:hidden;
}

.olFramedCloudPopupContent
{
	font-size:0.9em;
}

footer
{
	clear:both;
	margin:0 !important;
}
footer div.wrap
{
	position:relative !important;
}

.popup,
.popup .content
{
	width:95%;
}

a.contact-leader
{
	border:1px solid #555;
	display:block;
	width:80%;
	min-height:30px;
	margin:10px auto;
	padding:5px 5px 5px 40px;
	color:#fff;
}

a.contact-leader.call
{
	background:url(/images/icons/mobile.png) #6b8eac 15px 50% no-repeat;
	
}

a.contact-leader.text
{
	background:url(/images/icons/mail.png) #8dab6a 5px 50% no-repeat;
}