/* Colour scheme: 
	#6b8eac (blue - Sunday walks), 
	#ab6a8d (magenta - Weekday walks), 
	#8dab6a (green - Saturday walks),
	#F6F5D4 (yellow - Weekends away only),
	#FF9555 (orange - Socials only)
	
	Blue, green & magenta are used throughout. Yellow and orange are generally reserved for weekends & socials.
	Event body backgrounds are at 50% opacity
 */

/* Basic elements & text styles */
@font-face {
    font-family: 'Lora';
    src: url('/templates/swgpeter/fonts/lora/lora-regular-webfont.eot');
    src: url('/templates/swgpeter/fonts/lora/lora-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/templates/swgpeter/fonts/lora/lora-regular-webfont.woff') format('woff'),
         url('/templates/swgpeter/fonts/lora/lora-regular-webfont.ttf') format('truetype'),
         url('/templates/swgpeter/fonts/lora/lora-regular-webfont.svg#LoraRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2 {
    font-family:'Lora',serif;
    font-weight:normal;
    color:#0c0c0c;
    font-style:normal;
}

h1 {
    font-size:40px;
    text-shadow:1px 1px 2px #999;
}

h2 {
    font-size:28px;
    text-shadow:1px 1px 2px #999;
}

.item-page h1 {
	margin:10px 10px 10px 15px;
}

.clear {
    clear:both;
}

a {
	color:#0042ab;
	text-decoration:none;
}

a:hover, a:active {
	text-decoration:underline;
}

a img {
    border:none;
}

dl {
	margin:12px 20px;
	padding:0;
}

dl dt {
	font-weight:bold;
}

dl dd {
	margin:2px 0 10px 40px;
	padding:0; 
}

/* Overall page styles */

html {
    /* TODO: This only works on IE 9 - what happens on IE 8? */
    background: url(/images/backdrops/summer-daledyke.jpg) no-repeat center center fixed #6b8eac;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html.thinking-of-joining {
	background-image:url(/images/backdrops/joinus-10thanniversary.jpg);
}

html.thinking-of-joining div.wrapper {
	background-color:rgba(255,255,255,0.92); /* This background has more contrast, so need to fade it more */
}

body {
    font-family:sans-serif;
    font-size:12px;
    margin-top:0;
}

div.wrapper {
    background-color:rgb(255,255,255);
    background-color:rgba(255,255,255,0.85);
    position:relative;
    margin:15px auto;
    width:990px;
    height:auto;
    border:1px solid #999;
    border-radius:15px;
    box-shadow:4px 10px 10px #222;
    
    
}

/* Main navigation menu */

nav {
	display:block; /* For non-HTML 5 browsers */
    width:190px;
    height:100%;
    float:left;
    margin:15px 0 15px 10px;
    padding-right:10px;
}

nav .moduletable_menu, nav .moduletable {
    margin:15px 0 5px 4px;
    border-style:solid;
    border-color:#555;
    border-width:0 0 1px;
}

nav .moduletable_menu h3, nav .moduletable h3 {
    border-bottom:1px solid #555;
    margin:0;
    padding:3px 10px;
    font-weight:normal;
    font-family:sans-serif;
}

nav .moduletable_menu h3{
	border-top:1px solid #555;
    background:url(/templates/swgpeter/images/menuhead-ltblue.png);
}

nav .menu, nav .menu ul {
    list-style-type:none;
    font-size:14px;
    margin:0;
    padding:0;
    width:184px;
}

nav .menu li a {
	color:#005bab;
    display:inline-block;
    width:174px;
    padding:2px 5px 2px 15px;
}

nav .menu li.current>a {
	background:url("/templates/swgpeter/images/bullet_arrow_right.png") no-repeat 0px 2px;
}

nav .menu ul {
    margin-left:20px;
    width:164px;
}

nav .menu ul a {
    width:154px;
}

nav .menu  ul ul {
    width:144px;
}

nav .menu  ul ul a {
    width:134px;
}

nav .moduletable h3, .boxes .box h3 {
    background:url(/templates/swgpeter/images/lboxhead-ltgreen.png);
}

nav .feed ul {
    list-style-type:none;
    margin:0;
    padding-left:10px;
}

/* Main content area */

div.main {
    margin:0 14px 0 210px;
    border:none;
    padding-top:5px;
}

/* Slideshow & random image banners */

div.random-imagebanner {
    margin-top:8px;
}

div.slideshow {
    position:relative;
    width:561px;
    margin:10px 0;
}

.slideshow h1, .slideshow h2 {
    position:absolute;
    margin:0;
    z-index:10;
}

.slideshow h1 {
    top:10px;
    left:15px;
}

.slideshow h2 {
    top:60px;
    left:50px;
}

/* On the homepage, the tagline should be right-aligned and smaller than normal */
.home .slideshow h2 {
	font-size:20px;
    text-shadow:0px 0px 1px #999;
	left:100px;
}

.slideshow p.author {
    font-size:x-small;
    position:absolute;
    bottom:70px;
    right:10px;
}

/* Who are we, info for new members */

.home div.intro {
    float:right;
    width:200px;
    border:none;
    margin:15px 10px 15px 0;
    margin-right:10px;
}

.intro h2 {
    margin-top:7px;
}

.intro .box p {
	margin: 10px;
}

.intro .box>h4 {
	padding:0px 10px;
	font-size:13px;
}

.intro .box ul h4 {
	border:none;
}

.intro .eventdate {
	font-style:italic;
	margin-left:10px;
}

.intro a {
}

.intro a:last-of-type {
	float:right;
}

/* Blog */
.moduletable .feed h4 {
	margin:0;
}

.moduletable .feed p {
	margin:0 0 5px;
}

/* Set of 3 small boxes spanning page width (e.g. upcoming events) */

/* Make the homepage wider to fit them */
.home {
	margin-right:0 !important;
}

.boxes {
    margin-top:5px;
    clear:right;
}

.boxes .box {
    float:left;
    margin-right:10px;
    width:250px;
    height:180px;
}

.boxes .box p {
	margin:0;
}

.boxes h3 {
    background-image:url(/templates/swgpeter/images/boxhead-ltgreen.png) !important;
}

.intro .moduletable h3 {
	background-image:url(/templates/swgpeter/images/rboxhead-ltgreen.png) !important;
}

.boxes>.box, .intro .moduletable {
    position:relative;
    border-style:solid;
    border-color:#555;
    border-width:0 0 1px;
}

.boxes .box ul, .boxes .box ol {
	margin:0;
	padding:0 0 0 20px;
}

.home .boxes .box ul, .intro .box ul,
.home .boxes .box ol, .intro .box ol {
	list-style-type:none;
	margin:0;
	padding:0 0 0 10px;
}

.boxes .last-box {
    margin-right:0px;
/*  margin-left:1px; */
}

.moduletable h3, .box h3, .main h3 {
	border-top:1px solid #555;
    border-bottom:1px solid #555;
    margin:0 0 5px;
    padding:3px 10px;
    font-weight:normal;
/*     font-family:'Lora',serif; */
    font-family:sans-serif;
    font-size:18px;
}

.main h3 {
	background:url(/templates/swgpeter/images/contenthead-green.png);
}

.moduletable ul, .moduletable ol {
    margin:10px 0;
    padding-left:25px;
}

.moduletable li {
    margin-bottom:5px;
}

.box .date {
    font-style:italic;
    margin-left:0;
}

.box .weekends .area {
	font-style:italic;
	float:right;
	margin-right:5px;
}

.moduletable h4 {
    font-weight:normal;
    font-size:14px;
    margin:0;
}

.moduletable li>* {
    margin-left:10px;
}

.moduletable p {
    margin:10px;
}

.moduletable a, .box .rating {
    font-size:13px;
    margin-left:0;
}

.moduletable a.more {
    font-size:12px;
    position:absolute;
    right:5px;
    bottom:2px;
}

.moduletable .cancelled {
    text-decoration:line-through;
    color:red;
}
.moduletable .cancelled a {
    text-decoration:none;
    color:red;
}

.moduletable li.altered {
    border:1px solid red;
}

/* Popups - used for event details, walk grades info */

.popup {
    z-index:100;
    width:582px;
}

.ratingTip {
	z-index:200;
	width:320px !important;
}

.ratingTip h4 {
	margin-left:40px;
}

.popup .content, .ratingTip, .ratingTip {
    background-color:rgba(255,255,255,0.92) !important;
    background-color:rgb(255,255,255) !important; /* For old browsers */
    min-height:250px;
    border:1px solid #A8D3A9;
    border:1px solid #999999;
    border-radius:15px;
    box-shadow:4px 7px 10px #222;
    width:580px;
	
}

.popup-altered {
	width:584px;
}

.popup-altered .content {
	width:582px;
}

.popup .header, .popup .eventheader, .ratingTip .tip-title {
    background-color:#A8D3A9;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}

.popup .header * {
    margin:0;
    font-family: sans-serif;
    font-weight: normal;
    padding: 3px 10px;
    font-size:18px;
    border-top-right-radius:15px;
}

.popup .header p.date {
    position:absolute;
    left:5px;
    top:3px;
    font-size:14px;
}

.popup .header h3, .ratingTip .tip-title {
    text-align:center;
}

.ratingTip .tip-title {
	font-size:20px;
	font-weight:bold;
	padding:5px 0;
}

.popup .description {
    width:300px;
    margin:0 0 5px;
    height:170px;
    overflow:hidden;
}

.popup .description p {
    float:left;
}

.scrollbar-vert{
    background-color: none;
    height: 146px;
    width: 10px;
    float:right;
    margin:12px 10px 12px 0;
}
.handle-vert{
    height: 42px;
    width: 10px;
    background: #222;
    border-radius: 5px;
}

.popup .eventinfo {
    margin-right:0;
    width:260px;
    margin-bottom:5px;
}

.popup .info {
    float:right;
    margin-left:10px;
    padding:5px;
    border-left:1px solid #a8d3a9;
    width:145px;
    height:212px;
}

.popup p {
    padding:0 10px;
}

.popup .info p {
    padding:5px 10px 5px 30px;
    line-height:25px;
    background:transparent left no-repeat
}
.popup .info .linear {
    background-image:url(linearwalk.png);
}
.popup .info .dog-friendly {
    background-image:url(dogs.png);
}

.popup .contacts {
    margin-top:20px;
    border-top:1px solid #a8d3a9;
    width:495px;
}

.popup .contacts .leader {
    float:left;
    margin-top:0;
    margin-bottom:5px;
}

.popup .booking {
    clear:left;
}

.popup .loadindicator {
	position:absolute;
	/* Centre it in the empty popup */
	left:282px;
	top:117px;
}

.popup .newMemberInfo {
	clear:both;
	width:570px;
	border-top:1px solid #555;
	margin:0;
	font-size:0.9em;
	padding:5px;
	text-align:center;
}

.popup p.icons {
	text-indent:0;
	text-align:right;'
}

.popup p.icons img {
	margin-right:10px;
}

.ratingTip .tip-text {
	margin:0;
	padding:10px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}

/*
 * Generic internal page styles
 */

/* Pre/post content text blocks */
.precontent .moduletable, .postcontent .moduletable {
	margin:10px 0 10px 0;
	border-style:solid;
	border-width:1px 0;
	border-color:#555;
	background:url("/templates/swgpeter/images/contentbody-green.png") repeat scroll 0 0 transparent;
}

.precontent .moduletable h3, .postcontent .moduletable h3 {
	border-top:none;
}

.precontent .moduletable p, .postcontent .moduletable p {
	margin:10px;
}

/*
 * Event listing pages
 */

/* Walk symbols key */
.walkkey ul, .walkkey ol {
    margin:10px 0 0;
}

.walkkey li {
    clear:both;
    height:35px;
}
.walkkey li span {
    float:left;
    width:50px;
    display:inline-block;
    text-align:center;
    margin-left:0;
}

/* Events list */
.event {
    width:766px;
    border-style:solid;
    border-color:#555;
    border-width:1px 0;
    clear:right;
    position:relative;
    margin-bottom:10px;
}

.walksaturday {
    background:url(/templates/swgpeter/images/contentbody-green.png);
}

.walksaturday .eventheader {
    background:url(/templates/swgpeter/images/contenthead-green.png);
}

.walksunday, .ratingTip .tip-text {
    background:url(/templates/swgpeter/images/contentbody-blue.png);
}

.walksunday .eventheader, .ratingTip .tip-title {
    background:url(/templates/swgpeter/images/contenthead-blue.png);
}

.walkweekday {
    background:url(/templates/swgpeter/images/contentbody-magenta.png);
}

.walkweekday .eventheader {
    background:url(/templates/swgpeter/images/contenthead-magenta.png);
}

.weekend {
    background:url(/templates/swgpeter/images/contentbody-yellow.png);
}

.weekend .eventheader {
    background:url(/templates/swgpeter/images/contenthead-yellow.png);
}

.social {
    background:url(/templates/swgpeter/images/contentbody-orange.png);
}

.social .eventheader {
    background:url(/templates/swgpeter/images/contenthead-orange.png);
}

.event .cancelled, .popup .cancelled * {
    opacity:0.5;
}

.cancelled-message {
    position:absolute;
    font:6em bold sans-serif;
    color:red;
    z-index:6;
    text-align:center;
    left:0;
    right:0;
    top:0;
    bottom:0;
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
}

.eventheader {
    border-bottom:1px solid #555;
    font-size:16px;
    background-repeat:repeat-y;
    padding:5px 10px 3px;
}

.popup .eventheader h3 {
	background-image:none !important;
	border-bottom:none;
}

.eventheader .date {
	float:left;
}

.eventheader h3 {
	text-align:center;
	font-size:20px;
	margin:0;
	background:none;
	border:none;
	padding:0;
	font-weight:bold;
}

.eventheader .rating, .eventheader .area {
	float:right;
}

.eventinfo {
	font-size:0.8em;
	width:250px;
	margin:0 10px;
	display:inline-block;
	position:relative;
}

.eventinfo p {
	padding-left:10px;
	text-indent:57px;
}

.eventinfo p span {
	width:72px;
	display:inline-block;
	position:absolute;
	left:0px;
	text-indent:2px;
}

/* Slightly different layout for weekend away info to allow for "Bookings open:" */
.weekend .eventinfo p {
	margin-left:80px;
	text-indent:0;
}

.weekend .eventinfo p span {
	width:80px;
}

.event .description, .popup .description {
	float:right;
}

.event .description {
	width:470px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:25px; /* Make sure there's room for the icons*/
}

.event .icons {
	position:absolute;
	right:15px;
	bottom:5px;
	margin:0;
}

.event .altered, .popup .altered {
	border:1px solid red;
}

.protocolreminder {
	margin:10px 0;
	font-size:0.9em;
	font-style:italic;
	text-align:center;
}

/* Mark that you can get info about ratings */
.rating {
	cursor:help;
}

.eventlisting .rating, .popup .rating {
	border-bottom:1px dotted #555;
}

/* Walks library */
.library form label {
	margin:5px;
	width:200px;
	display:inline-block;
	font-weight:bold;
}

.library form table {
	margin-left:30px;
}

.library form h3 {
	margin-top:10px;
}

.library form .submit {
	margin:10px 0;
}

/* Page footer */

footer {
	display:block;
	margin:0 10px;
	min-height:60px;
}

footer div.wrap {
	position:absolute;
	bottom:10px;
}

.social-icons {
	border:none !important;
	float:left;
	width:200px;
}

.social-icons p {
	margin-left:25px;
	margin-right:0;
}

.social-icons a{
	margin-right:25px;
}

p.footer {
	font-size:0.9em;
	margin:5px 10px 5px 210px;
}
