/* Colour scheme: 
	#6b8eac (blue - Sunday walks), 
	#ab6a8d (magenta - Weekday walks), 
	#8dab6a (green - Saturday walks),
	#F6F5D4 (yellow - Weekends away only),
	#FF9555 (orange - Socials only)
	
	Blue, green & magenta are used throughout. Yellow and orange are generally reserved for weekends & socials.
	Event body backgrounds are at 50% opacity
 */

/* Basic elements & text styles */
@font-face {
    font-family: 'Lora';
    src: url('/templates/swgpeter/fonts/lora/lora-regular-webfont.eot');
    src: url('/templates/swgpeter/fonts/lora/lora-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/templates/swgpeter/fonts/lora/lora-regular-webfont.woff') format('woff'),
         url('/templates/swgpeter/fonts/lora/lora-regular-webfont.ttf') format('truetype'),
         url('/templates/swgpeter/fonts/lora/lora-regular-webfont.svg#LoraRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2 {
    font-family:'Lora',serif;
    font-weight:normal;
    color:#0c0c0c;
    font-style:normal;
}

h1 {
    font-size:40px;
    text-shadow:1px 1px 2px #999;
}

h2 {
    font-size:28px;
    text-shadow:1px 1px 2px #999;
}

.item-page h1 {
	margin:10px 10px 10px 15px;
}

.clear {
    clear:both;
}

a {
	color:#0042ab;
	text-decoration:none;
}

a:hover, a:active {
	text-decoration:underline;
}

a img {
    border:none;
}

dl {
	margin:12px 20px;
	padding:0;
}

dl dt {
	font-weight:bold;
}

dl dd {
	margin:2px 0 10px 40px;
	padding:0; 
}

table
{
	border-collapse: collapse;
}

table td
{
	margin:0;
	padding:5px;
}

body .mobile
{
	display:none;
}

/* Overall page styles */

html {
    /* TODO: This only works on IE 9 - what happens on IE 8? */
    background: url(/images/backdrops/summer-daledyke.jpg) no-repeat center center fixed #6b8eac;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family:sans-serif;
    font-size:12px;
    margin-top:0;
}

div.wrapper {
    background-color:rgb(255,255,255);
    background-color:rgba(255,255,255,0.85);
    position:relative;
    margin:15px auto;
    width:990px;
    height:auto;
    border:1px solid #999;
    border-radius:15px;
    box-shadow:4px 10px 10px #222;
}

/* Generic map styles */
.map, #map {
	position:relative;
}
.map .olControlAttribution {
	position:absolute;
	right:0px;
	bottom:0px;
	padding:3px;
	background-color:rgb(255,255,255);
	background-color:rgba(255,255,255,0.85);
	border-radius:5px 0 0 0;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
}

.loadindicator {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:url(/templates/swgpeter/images/ajax-loader.gif) 50% 50% no-repeat;
}

/* Main navigation menu */

nav {
	display:block; /* For non-HTML 5 browsers */
    width:190px;
    height:100%;
    float:left;
    margin:15px 0 15px 10px;
    padding-right:10px;
}

nav .moduletable_menu, nav .moduletable {
    margin:15px 0 5px 4px;
    border-style:solid;
    border-color:#555;
    border-width:0 0 1px;
}

nav .moduletable_menu h3, nav .moduletable h3 {
    border-bottom:1px solid #555;
    margin:0;
    padding:3px 10px;
    font-weight:normal;
    font-family:sans-serif;
}

nav .moduletable_menu h3{
	border-top:1px solid #555;
}

/* Top-level menu only */
nav .menu {
    width:186px;
}

/* All levels of menu */
nav .menu, nav .menu ul {
    list-style-type:none;
    font-size:14px;
    margin:0;
    padding:0;
}

nav .menu li a {
	color:#005bab;
    display:inline-block;
    width:174px;
    padding:2px 5px 2px 15px;
}

nav .menu li.current>a {
	background:url("/templates/swgpeter/images/bullet_arrow_right.png") no-repeat 0px 2px;
}

nav .menu ul {
    margin-left:20px;
    width:164px;
}

nav .menu ul a {
    width:154px;
}

nav .menu  ul ul {
    width:144px;
}

nav .menu  ul ul a {
    width:134px;
}

nav .feed ul {
    list-style-type:none;
    margin:0;
    padding-left:10px;
}

/* Mini menu */
ul.minimenu
{
	list-style-type:none;
	margin:3px 20px !important;
	text-align:right;
}

ul.minimenu li
{
	display:inline;
	padding:0 5px;
	border-right:1px solid #555;
}

ul.minimenu li:last-child
{
	border-right:none;
}

ul.minimenu li a
{
	font-size:0.8em;
}

/* Main content area */

div.main {
    margin:0 14px 0 210px;
    border:none;
    padding-top:5px;
}

/* Slideshow & random image banners */

div.random-imagebanner {
    margin-top:8px;
}

div.slideshow {
    position:relative;
    width:561px;
    margin:10px 0;
}

.slideshow h1, .slideshow h2 {
    position:absolute;
    margin:0;
    z-index:10;
}

.slideshow h1 {
    top:10px;
    left:15px;
}

.slideshow h2 {
    top:60px;
    left:50px;
	white-space:nowrap;
}

/* On the homepage, the tagline should be right-aligned and smaller than normal */
.home .slideshow h2 {
	font-size:20px;
    text-shadow:0px 0px 1px #999;
	left:100px;
}

.slideshow p.author {
    font-size:x-small;
    position:absolute;
    bottom:70px;
    right:10px;
}

.slideshow .links
{
	position:absolute;
	right:2px;
	bottom:2px;
	z-index:3;
	margin:0;
	text-align:right;
}

.slideshow .links a
{
    font-size: 10px;
    font-weight: normal;
    line-height: 12px;
    margin: 3px;
}

/* Who are we, info for new members */

.home div.intro {
    float:right;
    width:200px;
    border:none;
    margin:15px 10px 15px 0;
    margin-right:10px;
}

.intro h2 {
    margin-top:7px;
}

.intro .box p {
	margin: 10px;
}

.intro .box>h4 {
	margin:0px 10px;
	padding:0;
	font-size:15px;
	font-weight:normal;
}

.intro .box ul h4 {
	border:none;
}

.intro .eventdate {
	font-style:italic;
	margin-left:10px;
}

.intro a {
}

.intro a:last-of-type {
	float:right;
}

/* Blog */
.moduletable .feed h4 {
	margin:0;
}

.moduletable .feed p {
	margin:0 0 5px;
}

/* Set of 3 small boxes spanning page width (e.g. upcoming events) */

/* Make the homepage wider to fit them */
.home {
	margin-right:0 !important;
}

.boxes {
    margin-top:5px;
    clear:right;
}

.boxes .box {
    float:left;
    margin-right:10px;
    width:250px;
    height:180px;
}

.item-page .boxes .box {
	margin-right:6px;
}

.boxes .last-box {
	margin-right:0 !important;
}

.boxes .box p {
	margin:0;
}

.boxes>.box, .intro .moduletable {
    position:relative;
    border-style:solid;
    border-color:#555;
    border-width:0 0 1px;
}

.boxes .box ul, .boxes .box ol {
	margin:0;
	padding:0 0 0 20px;
}

.home .boxes .box ul, .intro .box ul,
.home .boxes .box ol, .intro .box ol {
	list-style-type:none;
	margin:0;
	padding:0 0 0 10px;
}

.boxes .last-box {
    margin-right:0px;
/*  margin-left:1px; */
}

.moduletable h3, .box h3, .main h3 {
	border-top:1px solid #555;
    border-bottom:1px solid #555;
    margin:0 0 5px;
    padding:3px 10px;
    font-weight:normal;
/*     font-family:'Lora',serif; */
    font-family:sans-serif;
    font-size:18px;
}

.moduletable ul, .moduletable ol {
    margin:10px 0;
    padding-left:25px;
}

.moduletable li {
    margin-bottom:5px;
}

.boxes .box h3 {
	margin-bottom:0;
}

.boxes .box h3 a {
	color:#000;
	font-size:18px;
}

.boxes .box .events ul {
	margin:0;
	padding:0;
}

.box .events li {
	margin:0;
	padding:3px 2px 3px 5px;
}

.box .events .highlighted {
	background:url(/templates/swgpeter/images/boxhighlight.png) repeat-y;
}

.box .date {
    font-style:italic;
    margin-left:0;
}

.box .weekends .area {
	font-style:italic;
	float:right;
	margin-right:5px;
}

.moduletable h4 {
    font-weight:normal;
    font-size:14px;
    margin:0;
}

.moduletable li>* {
    margin-left:10px;
}

.moduletable p {
    margin:10px;
}

.moduletable a, .box .rating {
    font-size:13px;
    margin-left:0;
}

.moduletable a.more {
    font-size:12px;
    position:absolute;
    right:5px;
    bottom:2px;
}

.moduletable .cancelled {
    text-decoration:line-through;
    color:red;
}
.moduletable .cancelled a {
    text-decoration:none;
    color:red;
}

.box li.altered, .box li.cancelled {
    border:1px solid red;
    position:relative;
}

.altered:after, .box .cancelled:after {
	font-size:0.75em;
	font-style:italic;
	color:red;
}

.box li.altered:after {
	content:"altered";
	position:absolute;
	top:1px;
	right:2px;
}

.box li.cancelled:after {
	content:"cancelled";
	position:absolute;
	top:1px;
	right:2px;
}

/* Popups - used for event details, walk grades info */

.popup {
    z-index:100;
    width:582px;
}

.ratingTip {
	z-index:200;
	width:320px !important;
}

.ratingTip h4 {
	margin-left:40px;
}

.popup .content, .ratingTip, .ratingTip {
    background-color:rgba(255,255,255,0.92) !important;
    background-color:rgb(255,255,255) !important; /* For old browsers */
    min-height:250px;
    border:1px solid #A8D3A9;
    border:1px solid #999999;
    border-radius:15px;
    box-shadow:4px 7px 10px #222;
    width:580px;
	
}

.popup-altered {
	width:584px;
}

.popup-altered .content {
	width:582px;
}

.popup .header, .popup .eventheader, .ratingTip .tip-title {
    background-color:#A8D3A9;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}

.popup .header * {
    margin:0;
    font-family: sans-serif;
    font-weight: normal;
    padding: 3px 10px;
    font-size:18px;
    border-top-right-radius:15px;
}

.popup .header p.date {
    position:absolute;
    left:5px;
    top:3px;
    font-size:14px;
}

.popup h3 {
	clear:both;
}

.popup h3, .ratingTip .tip-title {
    text-align:center;
}

.ratingTip .tip-title {
	font-size:20px;
	font-weight:bold;
	padding:5px 0;
}

.popup .description {
    width:300px;
    margin:0 0 5px;
    height:170px;
    overflow:hidden;
}

.popup .description p {
    float:left;
}

.scrollbar-vert{
    background-color: none;
    height: 146px;
    width: 10px;
    float:right;
    margin:12px 10px 12px 0;
}
.handle-vert{
    height: 42px;
    width: 10px;
    background: #222;
    border-radius: 5px;
}

.popup .eventinfo {
    margin-right:0;
    width:260px;
    margin-bottom:5px;
}

.popup .info {
    float:right;
    margin-left:10px;
    padding:5px;
    border-left:1px solid #a8d3a9;
    width:145px;
    height:212px;
}

.popup p {
    padding:0 10px;
}

.popup .info p {
    padding:5px 10px 5px 30px;
    line-height:25px;
    background:transparent left no-repeat
}
.popup .info .linear {
    background-image:url(linearwalk.png);
}
.popup .info .dog-friendly {
    background-image:url(dogs.png);
}

.popup .contacts {
    margin-top:20px;
    border-top:1px solid #a8d3a9;
    width:495px;
}

.popup .contacts .leader {
    float:left;
    margin-top:0;
    margin-bottom:5px;
}

.popup .booking {
    clear:left;
}

.popup .newMemberInfo {
	clear:both;
	width:570px;
	border-top:1px solid #555;
	margin:0;
	font-size:0.9em;
	padding:5px;
	text-align:center;
}

.popup p.icons {
	text-indent:0;
	text-align:right;'
}

.popup p.icons img {
	margin-right:10px;
}

.popup .map {
	width:550px;
	height:250px;
	margin:10px 15px !important;
	clear:both;
}

.ratingTip .tip-text {
	margin:0;
	padding:10px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}

/*
 * Generic internal page styles
 */

/* Pre/post content text blocks */
.precontent .moduletable, .postcontent .moduletable {
	margin:10px 0 10px 0;
	border-style:solid;
	border-width:1px 0;
	border-color:#555;
}

.precontent .moduletable h3:first-child, .postcontent .moduletable h3:first-child {
	border-top:none;
}

.precontent .moduletable p, .postcontent .moduletable p {
	margin:10px;
}

/*
 * Event listing pages
 */

/* Walk symbols key */
.walkkey ul, .walkkey ol {
    margin:10px 0 0;
}

.walkkey li {
    clear:both;
    height:35px;
}
.walkkey li span {
    float:left;
    width:50px;
    display:inline-block;
    text-align:center;
    margin-left:0;
}

/* Events list */
.event {
    width:766px;
    border-style:solid;
    border-color:#555;
    border-width:1px 0;
    clear:right;
    position:relative;
    margin-bottom:10px;
}

.event.highlighted {
	box-shadow:2px 2px 15px #222;
	border-width:1px;
	width:764px;
	border-radius:4px;
}

.event .unpublished {
	border:3px dashed black;
	opacity:0.9;
}

.event .boxout, .popup .boxout {
	border:1px solid #555;
	box-shadow:2px 2px 8px #222;
	padding:8px;
	border-radius:3px;
}

.popup .boxout {
	margin:0 10px;
}

.walksunday .boxout { background-color:#6B8EAC; }
.walksaturday .boxout {	background-color:#8DAB6A; }
.walkweekday .boxout { background-color:#ab6a8d; }
.weekend .boxout { background-color:#F6F5D4; }
.social .boxout { background-color:#FF9555; }

/* Gradient backgrounds & headings */

nav .moduletable h3,
.boxes h3,
.intro .moduletable h3
{
	background-color:#9bb67c; /* IE <= 9 fallback */
    background:linear-gradient( 90deg, rgba(155,182,124,0), rgba(155,182,124,1) 43%, rgba(155,182,124,1) 57%, rgba(155,182,124,0) ) !important;
    background:-webkit-linear-gradient( 90deg, rgba(155,182,124,0), rgba(155,182,124,1) 43%, rgba(155,182,124,1) 57%, rgba(155,182,124,0) ) !important;
	
}

.walksaturday .eventheader,
.main h3
{
    background:linear-gradient( 90deg, rgba(155,182,124,0), rgba(155,182,124,1) 12.5%, rgba(155,182,124,1) 87.5%, rgba(155,182,124,0) );
}

.walksaturday,
.precontent .moduletable, 
.postcontent .moduletable
{
    background:linear-gradient( 90deg, rgba(155,182,124,0), rgba(155,182,124,0.38) 8%, rgba(155,182,124,0.38) 92%, rgba(155,182,124,0) );
}

.walksunday .eventheader, .ratingTip .tip-title {
	background-color:#7c9bb6;
    background:linear-gradient( 90deg, rgba(124,155,182,0), rgba(124,155,182,1) 12.5%, rgba(124,155,182,1) 87.5%, rgba(124,155,182,0) );
}

.walksunday, .ratingTip .tip-text {
    background:linear-gradient( 90deg, rgba(124,155,182,0), rgba(124,155,182,0.38) 8%, rgba(124,155,182,0.38) 92%, rgba(124,155,182,0) );
}

.walkweekday .eventheader {
	background-color:#ab6a8d;
    background:linear-gradient( 90deg, rgba(171,106,141,0), rgba(171,106,141,1) 12.5%, rgba(171,106,141,1) 87.5%, rgba(171,106,141,0) );
}

.walkweekday {
    background:linear-gradient( 90deg, rgba(171,106,141,0), rgba(171,106,141,0.38) 8%, rgba(171,106,141,0.38) 92%, rgba(171,106,141,0) );
}

.weekend .eventheader {
	background-color:#f6f5d4;
    background:linear-gradient( 90deg, rgba(246,245,212,0), rgba(246,245,212,1) 12.5%, rgba(246,245,212,1) 87.5%, rgba(246,245,212,0) );
}

.weekend {
    background:linear-gradient( 90deg, rgba(246,245,212,0), rgba(246,245,212,0.38) 8%, rgba(246,245,212,0.38) 92%, rgba(246,245,212,0) );
}

.social .eventheader {
	background-color:#ff9555;
    background:linear-gradient( 90deg, rgba(255,149,85,0), rgba(255,149,85,1) 12.5%, rgba(255,149,85,1) 87.5%, rgba(255,149,85,0) );
}

.social {
    background:linear-gradient( 90deg, rgba(255,149,85,0), rgba(255,149,85,0.38) 8%, rgba(255,149,85,0.38) 92%, rgba(255,149,85,0) );
}

nav.menu,
nav .moduletable_menu h3
{
	background-color:#7c9bb6;
	background:linear-gradient( 90deg, rgba(124,155,182,0), rgba(124,155,182,1) 43%, rgba(124,155,182,1) 57%, rgba(124,155,182,0) ) !important;
    background:-webkit-linear-gradient( 90deg, rgba(124,155,182,0), rgba(124,155,182,1) 43%, rgba(124,155,182,1) 57%, rgba(124,155,182,0) ) !important;
}

.event .cancelled, .popup .cancelled * {
    opacity:0.5;
}

.cancelled-message {
    position:absolute;
    font:6em bold sans-serif;
    color:red;
    z-index:6;
    text-align:center;
    left:0;
    right:0;
    top:0;
    bottom:0;
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
}

.edit-cancelled {
	font-size:0.8em;
	position:absolute;
	left:77px;
	bottom:20px;
	z-index:7;
}

.eventheader, .popup .header {
    border-bottom:1px solid #555;
    font-size:16px;
    background-repeat:repeat-y;
    padding:5px 10px 3px;
}

.eventbody {
	position:relative;
}

.popup h3 {
	background-image:none !important;
	border-bottom:none;
}

.eventheader .date {
	float:left;
}

.eventheader h3, .popup .header h3 {
	text-align:center;
	font-size:20px;
	margin:0;
	background:none;
	border:none;
	padding:0;
	font-weight:bold;
}

.eventheader h3 a
{
	color:#000;
}

.eventheader .headerextra {
	display:inline;
	float:right;
	margin:0;
}

.eventinfo {
	font-size:0.8em;
	width:250px;
	margin:0 10px;
	display:inline-block;
	position:relative;
}

.eventinfo p {
	padding-left:67px;
	text-indent:0px;
}

.eventinfo p span.lbl {
	width:72px;
	display:inline-block;
	position:absolute;
	left:0px;
	text-indent:2px;
}

/* Slightly different layout for weekend away info to allow for "Bookings open:" */
.weekend .eventinfo p {
	padding-left:80px;
}

.weekend .eventinfo p span {
	width:80px;
}

.event .description, .popup .description {
	float:right;
}

.event .description {
	width:470px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:25px; /* Make sure there's room for the icons*/
}

.event .dummyevent .description {
	width: 685px;
	margin-left:40px;
	margin-right:40px;
}

.event .icons {
	position:absolute;
	right:15px;
	bottom:5px;
	margin:0;
}

.event .detail-link
{
	position:absolute;
	left:285px;
	bottom:10px;
	margin:0;
}

.event .altered, .popup .altered {
	border:1px solid red;
}

.event .date.altered:after, .popup .date.altered:after {
	content:"(moved to this date)";
}

.popup .date.altered:after {
	padding-left:10px;
}

.event .date.altered:after {
	float:right;
	font-size:0.6em;
	padding-left:5px;
	width:52px;
}

.eventinfo .altered:after {
	font-size:0.95em;
}

.transport.altered:after {
	content:"(meeting place/time altered)";
}

.leader.altered:after {
	content:"(leader details altered)";
}

.description.altered:after {
	content:"(details altered)";
}

.protocolreminder {
	margin:10px 0;
	font-size:0.9em;
	font-style:italic;
	text-align:center;
}

/* Event listing map */
.event .map-container {
	overflow:hidden;
	padding:0 20px 20px;
}

.event .map {
	height:400px;
}

/* Mark that you can get info about ratings */
.rating {
	cursor:help;
}

.eventlisting .rating, .popup .rating {
	border-bottom:1px dotted #555;
}

/* Bar to go on events list during loading */
.loadbar {
	border-color: #555555;
    border-style: solid;
    border-width: 1px 0;
    clear: right;
    margin-bottom: 10px;
    position: relative;
    width: 766px;
	height:80px;
}

/* Walks library */
.library form label {
	margin:5px;
	width:200px;
	display:inline-block;
	font-weight:bold;
}

.library form table {
	border:none;
	margin-left:30px;
}

.library form h3 {
	margin-top:10px;
}

.library form .submit {
	margin:10px 0;
}

/* Submit walks */
#jform_routeVisibility input {
	float:left;
	clear:both;
	margin-bottom:3px;
}
#jform_routeVisibility label {
	float:left;
	padding-top:5px;
}
.olMap {
	position:relative;
}

fieldset.walklocationgroup {
	float:left;
}
fieldset.walklocationgroup label {
	width:149px;
}

.olMap .searchpanel {
	background-color:rgb(255,255,255);
	background-color:rgba(255,255,255,0.9);
	border-top:1px solid #222;
	border-right:1px solid #222;
	position:absolute;
	left:0;
	bottom:0;
	z-index:1000;
	border-top-right-radius:5px;
	padding:10px;
}

.olMap .searchpanel h4 {
	margin:0;
}

div.placeNameResults {
	border:1px solid #000;
	box-shadow:2px 2px 2px #222;
	position:absolute;
	padding:0;
	background-color:#fff;
	font-size:0.9em;
	width:400px;
	cursor:pointer;
	z-index:10000;
}

div.placeNameResults p {
	margin:0;
	padding:5px 10px;
}

div.placeNameResults p img {
	float:left;
}

div.placeNameResults p:hover {
	background-color:#6b8eac;
}

/* Gallery on new members page */
ul.sig-container {
	clear:both;
	padding-top:18px !important;
	width:660px;
	margin:auto;
}

.main li.sig-block {
	background:none !important;
}

/* Page footer */

footer {
	display:block;
	margin:0 10px 0 200px;
	min-height:60px;
}

footer div.wrap {
	position:absolute;
	bottom:10px;
}

.social-icons {
	border:none !important;
	float:left;
	width:200px;
}

.social-icons p {
	margin-left:25px;
	margin-right:0;
}

.social-icons a{
	margin-right:25px;
}

p.footer {
	font-size:0.9em;
	margin:5px 10px 5px 10px;
}

/* Fix - calendars appear below maps */
div.calendar {
	z-index:10000;
}

/* For intercepting clicks */
div.invisibleBacking {
	z-index:5000;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:transparent;
	
}

.login-module {
	clear:both;
	border-top-width:1px !important;
}

.login-module-form .fields p {
	margin:5px;
	text-align:center;
}
.login-module-form .buttons {
	margin:5px;
}
.mask {
	background-color:#555;
	opacity:0.6;
}

/* Error pages */
.error {
	margin:10px;
}
.errorimage {
	position:relative;
}

.errorimage h1 {
	position:absolute;
	left:50px;
	top:20px;
	margin:0;
}

.errorimage h2 {
	position:absolute;
	margin:0;
	left:100px;
	top:70px;
}

#manageavailability h3 {
	margin-bottom:0;
}

#manageavailability table {
	width:100%;
	border-bottom:1px solid #555;
}

#system-message .alert
{
	border:1px solid #555;
	border-radius:15px;
	box-shadow:4px 10px 10px #222;
	padding:0 10px;
	position:relative;
}

#system-message .alert-warning
{
	background-color:#ff9555;
	box-shadow:4px 7px 10px #a86338;
}

#system-message .close
{
	cursor: pointer;
	position:absolute;
	top:10px;
	right:10px;
}

.diary-added-msg
{
	font-size:1.2em;
	text-align:center;
}

.diary-added-options
{
	list-style-type:none;
	display:inline-block;
}

.diary-added-options li
{
	float:left;
	width:120px;
	text-align:center;
}

.diary-added-options li img
{
	margin-bottom:10px;
}